html,.headers,h1,h4,footer{
    background-color: #BDCDD6;
}
a{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px !important;

}
h1{
    margin-bottom: 0rem !important;
    text-align: center;
    padding-top: 100px;
    margin: 0;
}
.nav-link{
    color: black;

}
header{
    background-color: #93BFCF;
    margin-bottom: 0rem !important;

}
.nav-item{
    background-color: #6096B4;
    border-radius: 10px;
    margin-right: 5px;
}
.webname{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 30px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    body {
        margin: 0;
    }
    
.cont{
    padding-top: 100px;
    display: grid;
    width: 100%;
    gap:20px;
    height: 100vh;
    grid-template-rows: 5% 50% 50px;
    grid-template-columns: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 0rem;
}
input {
    width: 100%;
    resize: vertical;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f2f2f2; 
    color: #333; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    outline: none; 
}
.first{
}
.second{
    height: 100%;
    width: 100%;
    resize: none;
}
form{
    background-color: #BDCDD6;
    margin: 0;
}
/* Style for input when it is focused */
input:focus {
    border: 1px solid #007bff; /* Change border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow when focused */
}


button{
    width: 250px;
    border-radius:20px ;
    justify-content: center;
    align-items: center;
    background-color:#6096B4 ;
}

button {
    display: block;
    margin: 0 auto;
}

